.featureBox {
  padding: 2.5rem 0;

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redirectButton{
    background-color:#58bd00;
    color: white;
    border: none;
  }
}

.featureImage {
  width: 320px;
  margin-bottom: 2rem;
}