*,
body,
button,
input,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Plus Jakarta Sans, sans-serif !important;
}
span[class*="IconWrapper-NetlifyCreditIcon"] {
  width: 100% !important;
  text-align: center;
}
span[class*="IconWrapper-NetlifyCreditIcon"] svg {
  display: none;
}
span[class*="IconWrapper-NetlifyCreditIcon"]::after {
  content: "© 2025 SharePoint Designs CMS";
  font-size: 0.8rem;
  color: #555;
  display: inline-block;
  margin-left: 4px;
}
